/* "*" is the global/universal  selector . It targets all elements on the page, applying the specified styles to each of them.*/
* {
    box-sizing: border-box; /*border-box: The content of the element will shrink to make room for the padding and border.*/
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex; /*flex: The flex CSS property sets how a flex item will grow or shrink to fit the space available in its flex container.*/
    flex-direction: row; /*row (default): The flex container's main-axis is horizontal.*/
    flex-wrap: wrap; /*wrap: The flex container is single-line or multi-line, based on the size of the container. Default: nowrap*/
    justify-content: center; /*Default: flex-start (Items are aligned to the start of the flex container)
    distributes space between and around content items along the main axis of a flex container and the inline axis of grid and multicol containers.*/
    align-items: center; /*Default: stretch (Items are stretched to fill the container along the cross axis).
    It controls the alignment of items on the cross axis. In grid layout, it controls the alignment of items on the block axis within their grid areas.*/
    gap: 16px; /*gap: The gap CSS property sets the gaps (gutters) between rows and columns. It is a shorthand for row-gap and column-gap.*/
    max-width: 1400px; 
    margin: 0 auto; /* centers the element on the page */
    padding: 20px 10px;
    /*border: 4px solid red*/
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover; /*cover avoids distortion but can crop image*/
    border-radius: 10px;
    /*border: 2px solid blue*/
  }
  
  .gallery::after { /*::after: The ::after pseudo-element can be used to insert some content after the content of an element.*/
    content: "";
    width: 350px;
  }

  footer{
    font-family: sans-serif;
    text-align: center;
    padding: 0.1rem 0;
    width: 100%;
    font-size: 62.5%;
    background-color: #dfdfe2;
    }